<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bundeswehrbung</title>

		<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap" rel="stylesheet">

		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

		<script src="https://unpkg.com/@telemetrydeck/sdk/dist/telemetrydeck.min.js" defer></script>
		<script>
  			window.td = window.td || [];
  			td.push(['app', 'DDB29CC4-8E6A-4A9F-86B6-290BC2095180'], ['user', 'anonymous'], ['signal']);
		</script>
	</head>
	<body class="container">
		<header>
			<h1><a href="/" class="title">Bundeswehrbung</a></h1>
			<p class="banner">Ein Projekt zur Auswertung von Werbesprache der deutschen Bundeswehr</p>
		</header>

		{% block content %}{% endblock %}

		<footer> 
			<p>Der <a href="https://github.com/DasUnicorn/Bundeswehrbung" target="_blank" class="link">Code</a> und die <a href="https://github.com/DasUnicorn/Bundeswehrbung/tree/master/transcript" target="_blank" class="link">Daten</a> dieses Projektes sind komplett öffentlich. | <a href="/impressum" target="_blank" class="link">Impressum</a></p>
		</footer>
	</body>
</html>
