{% extends "base.html" %}

{% block content %}
	<div class="form-floating mb-3" style="text-align: left">
		<h2>Datenauswertung</h2>
		<p>Ingesamte 6538 unterschiedliche Worte sind gefallen</p>
		<p>Top 150 Wörter</p>
	</div>

	<div>
		<table>
		  <tr>
		    <th>Wort</th>
		    <th></th>
		  </tr>
		  <tr>
		    <td><br>ich</td>
		    <td>1464</td>
		  </tr>
		  <tr>
		    <td>die</td>
		    <td>1370</td>
		  </tr>
		  <tr>
		    <td>das</td>
		    <td>1291</td>
		  </tr>
		  <tr>
		    <td>und</td>
		    <td>1287</td>
		  </tr>
		  <tr>
		    <td>ist</td>
		    <td>932</td>
		  </tr>
		  <tr>
		    <td>wir</td>
		    <td>897</td>
		  </tr>
		  <tr>
		    <td>sie</td>
		    <td>842</td>
		  </tr>
		  <tr>
		    <td>jetzt</td>
		    <td>759</td>
		  </tr>
		  <tr>
		    <td>der</td>
		    <td>720</td>
		  </tr>
		  <tr>
		    <td>so</td>
		    <td>695</td>
		  </tr>
		  <tr>
		    <td>nicht</td>
		    <td>694</td>
		  </tr>
		  <tr>
		    <td>es</td>
		    <td>640</td>
		  </tr>
		  <tr>
		    <td>mal</td>
		    <td>582</td>
		  </tr>
		  <tr>
		    <td>dann</td>
		    <td>576</td>
		  </tr>
		  <tr>
		    <td>ja</td>
		    <td>559</td>
		  </tr>
		  <tr>
		    <td>ein</td>
		    <td>538</td>
		  </tr>
		  <tr>
		    <td>hier</td>
		    <td>512</td>
		  </tr>
		  <tr>
		    <td>auch</td>
		    <td>502</td>
		  </tr>
		  <tr>
		    <td>auf</td>
		    <td>487</td>
		  </tr>
		  <tr>
		    <td>noch</td>
		    <td>442</td>
		  </tr>
		  <tr>
		    <td>haben</td>
		    <td>438</td>
		  </tr>
		  <tr>
		    <td>man</td>
		    <td>425</td>
		  </tr>
		  <tr>
		    <td>den</td>
		    <td>415</td>
		  </tr>
		  <tr>
		    <td>mit</td>
		    <td>400</td>
		  </tr>
		  <tr>
		    <td>da</td>
		    <td>392</td>
		  </tr>
		  <tr>
		    <td>was</td>
		    <td>389</td>
		  </tr>
		  <tr>
		    <td>in</td>
		    <td>379</td>
		  </tr>
		  <tr>
		    <td>dass</td>
		    <td>358</td>
		  </tr>
		  <tr>
		    <td>wenn</td>
		    <td>352</td>
		  </tr>
		  <tr>
		    <td>wie</td>
		    <td>324</td>
		  </tr>
		  <tr>
		    <td>also</td>
		    <td>311</td>
		  </tr>
		  <tr>
		    <td>zu</td>
		    <td>311</td>
		  </tr>
		  <tr>
		    <td>aber</td>
		    <td>292</td>
		  </tr>
		  <tr>
		    <td>war</td>
		    <td>279</td>
		  </tr>
		  <tr>
		    <td>sind</td>
		    <td>270</td>
		  </tr>
		  <tr>
		    <td>schon</td>
		    <td>268</td>
		  </tr>
		  <tr>
		    <td>alles</td>
		    <td>266</td>
		  </tr>
		  <tr>
		    <td>sich</td>
		    <td>259</td>
		  </tr>
		  <tr>
		    <td>habe</td>
		    <td>236</td>
		  </tr>
		  <tr>
		    <td>hat</td>
		    <td>230</td>
		  </tr>
		  <tr>
		    <td>werden</td>
		    <td>228</td>
		  </tr>
		  <tr>
		    <td>bisschen</td>
		    <td>222</td>
		  </tr>
		  <tr>
		    <td>im</td>
		    <td>220</td>
		  </tr>
		  <tr>
		    <td>machen</td>
		    <td>206</td>
		  </tr>
		  <tr>
		    <td>an</td>
		    <td>205</td>
		  </tr>
		  <tr>
		    <td>oder</td>
		    <td>205</td>
		  </tr>
		  <tr>
		    <td>für</td>
		    <td>200</td>
		  </tr>
		  <tr>
		    <td>gut</td>
		    <td>194</td>
		  </tr>
		  <tr>
		    <td>muss</td>
		    <td>188</td>
		  </tr>
		  <tr>
		    <td>wieder</td>
		    <td>188</td>
		  </tr>
		  <tr>
		    <td>von</td>
		    <td>181</td>
		  </tr>
		  <tr>
		    <td>mich</td>
		    <td>178</td>
		  </tr>
		  <tr>
		    <td>wird</td>
		    <td>178</td>
		  </tr>
		  <tr>
		    <td>bin</td>
		    <td>174</td>
		  </tr>
		  <tr>
		    <td>dem</td>
		    <td>174</td>
		  </tr>
		  <tr>
		    <td>eine</td>
		    <td>171</td>
		  </tr>
		  <tr>
		    <td>uns</td>
		    <td>170</td>
		  </tr>
		  <tr>
		    <td>ganz</td>
		    <td>167</td>
		  </tr>
		  <tr>
		    <td>bei</td>
		    <td>166</td>
		  </tr>
		  <tr>
		    <td>kann</td>
		    <td>164</td>
		  </tr>
		  <tr>
		    <td>mir</td>
		    <td>161</td>
		  </tr>
		  <tr>
		    <td>ihr</td>
		    <td>160</td>
		  </tr>
		  <tr>
		    <td>halt</td>
		    <td>158</td>
		  </tr>
		  <tr>
		    <td>alle</td>
		    <td>156</td>
		  </tr>
		  <tr>
		    <td>einfach</td>
		    <td>155</td>
		  </tr>
		  <tr>
		    <td>weil</td>
		    <td>152</td>
		  </tr>
		  <tr>
		    <td>heute</td>
		    <td>149</td>
		  </tr>
		  <tr>
		    <td>nur</td>
		    <td>148</td>
		  </tr>
		  <tr>
		    <td>ne</td>
		    <td>147</td>
		  </tr>
		  <tr>
		    <td>aus</td>
		    <td>139</td>
		  </tr>
		  <tr>
		    <td>nach</td>
		    <td>139</td>
		  </tr>
		  <tr>
		    <td>du</td>
		    <td>131</td>
		  </tr>
		  <tr>
		    <td>mehr</td>
		    <td>130</td>
		  </tr>
		  <tr>
		    <td>jeden</td>
		    <td>128</td>
		  </tr>
		  <tr>
		    <td>immer</td>
		    <td>123</td>
		  </tr>
		  <tr>
		    <td>sein</td>
		    <td>121</td>
		  </tr>
		  <tr>
		    <td>zum</td>
		    <td>118</td>
		  </tr>
		  <tr>
		    <td>fall</td>
		    <td>113</td>
		  </tr>
		  <tr>
		    <td>sehen</td>
		    <td>107</td>
		  </tr>
		  <tr>
		    <td>als</td>
		    <td>103</td>
		  </tr>
		  <tr>
		    <td>geht</td>
		    <td>103</td>
		  </tr>
		  <tr>
		    <td>gehen</td>
		    <td>101</td>
		  </tr>
		  <tr>
		    <td>er</td>
		    <td>99</td>
		  </tr>
		  <tr>
		    <td>müssen</td>
		    <td>99</td>
		  </tr>
		  <tr>
		    <td>damit</td>
		    <td>97</td>
		  </tr>
		  <tr>
		    <td>meine</td>
		    <td>94</td>
		  </tr>
		  <tr>
		    <td>rekruten</td>
		    <td>94</td>
		  </tr>
		  <tr>
		    <td>einen</td>
		    <td>93</td>
		  </tr>
		  <tr>
		    <td>können</td>
		    <td>93</td>
		  </tr>
		  <tr>
		    <td>richtig</td>
		    <td>92</td>
		  </tr>
		  <tr>
		    <td>gerade</td>
		    <td>91</td>
		  </tr>
		  <tr>
		    <td>leute</td>
		    <td>89</td>
		  </tr>
		  <tr>
		    <td>viel</td>
		    <td>88</td>
		  </tr>
		  <tr>
		    <td>morgen</td>
		    <td>87</td>
		  </tr>
		  <tr>
		    <td>wo</td>
		    <td>86</td>
		  </tr>
		  <tr>
		    <td>erst</td>
		    <td>85</td>
		  </tr>
		  <tr>
		    <td>erste</td>
		    <td>84</td>
		  </tr>
		  <tr>
		    <td>keine</td>
		    <td>83</td>
		  </tr>
		  <tr>
		    <td>am</td>
		    <td>82</td>
		  </tr>
		  <tr>
		    <td>ab</td>
		    <td>81</td>
		  </tr>
		  <tr>
		    <td>bis</td>
		    <td>81</td>
		  </tr>
		  <tr>
		    <td>eigentlich</td>
		    <td>81</td>
		  </tr>
		  <tr>
		    <td>einmal</td>
		    <td>81</td>
		  </tr>
		  <tr>
		    <td>natürlich</td>
		    <td>81</td>
		  </tr>
		  <tr>
		    <td>gleich</td>
		    <td>80</td>
		  </tr>
		  <tr>
		    <td>sagen</td>
		    <td>79</td>
		  </tr>
		  <tr>
		    <td>um</td>
		    <td>79</td>
		  </tr>
		  <tr>
		    <td>doch</td>
		    <td>78</td>
		  </tr>
		  <tr>
		    <td>waffe</td>
		    <td>78</td>
		  </tr>
		  <tr>
		    <td>heißt</td>
		    <td>75</td>
		  </tr>
		  <tr>
		    <td>kameraden</td>
		    <td>75</td>
		  </tr>
		  <tr>
		    <td>nen</td>
		    <td>74</td>
		  </tr>
		  <tr>
		    <td>gemacht</td>
		    <td>73</td>
		  </tr>
		  <tr>
		    <td>hab</td>
		    <td>73</td>
		  </tr>
		  <tr>
		    <td>tag</td>
		    <td>72</td>
		  </tr>
		  <tr>
		    <td>mein</td>
		    <td>71</td>
		  </tr>
		  <tr>
		    <td>kommen</td>
		    <td>69</td>
		  </tr>
		  <tr>
		    <td>rein</td>
		    <td>69</td>
		  </tr>
		  <tr>
		    <td>vor</td>
		    <td>69</td>
		  </tr>
		  <tr>
		    <td>kommt</td>
		    <td>68</td>
		  </tr>
		  <tr>
		    <td>ob</td>
		    <td>68</td>
		  </tr>
		  <tr>
		    <td>sehr</td>
		    <td>67</td>
		  </tr>
		  <tr>
		    <td>weg</td>
		    <td>66</td>
		  </tr>
		  <tr>
		    <td>durch</td>
		    <td>64</td>
		  </tr>
		  <tr>
		    <td>euch</td>
		    <td>64</td>
		  </tr>
		  <tr>
		    <td>nichts</td>
		    <td>64</td>
		  </tr>
		  <tr>
		    <td>sieht</td>
		    <td>64</td>
		  </tr>
		  <tr>
		    <td>transcript</td>
		    <td>64</td>
		  </tr>
		  <tr>
		    <td>vorne</td>
		    <td>63</td>
		  </tr>
		  <tr>
		    <td>weiß</td>
		    <td>63</td>
		  </tr>
		  <tr>
		    <td>äh</td>
		    <td>62</td>
		  </tr>
		  <tr>
		    <td>dabei</td>
		    <td>62</td>
		  </tr>
		  <tr>
		    <td>gesagt</td>
		    <td>62</td>
		  </tr>
		  <tr>
		    <td>gucken</td>
		    <td>61</td>
		  </tr>
		  <tr>
		    <td>schön</td>
		    <td>60</td>
		  </tr>
		  <tr>
		    <td>drauf</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>fertig</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>jawohl</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>weiter</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>wirklich</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>zur</td>
		    <td>59</td>
		  </tr>
		  <tr>
		    <td>los</td>
		    <td>58</td>
		  </tr>
		  <tr>
		    <td>zwei</td>
		    <td>58</td>
		  </tr>
		  <tr>
		    <td>drei</td>
		    <td>56</td>
		  </tr>
		  <tr>
		    <td>sachen</td>
		    <td>56</td>
		  </tr>
		  <tr>
		    <td>beim</td>
		    <td>54</td>
		  </tr>
		  <tr>
		    <td>gar</td>
		    <td>54</td>
		  </tr>
		  <tr>
		    <td>hinten</td>
		    <td>54</td>
		  </tr>
		  <tr>
		    <td>zeit</td>
		    <td>54</td>
		  </tr>
		  <tr>
		    <td>einer</td>
		    <td>53</td>
		  </tr>
		</table>
	</div>

{% endblock %}