{% extends "base.html" %}

{% block content %}
<section class="fullSection">
	<div class="" style="text-align: left">
		<h2>Daten-Einblick</h2>
		<p>Die Basis-Fakten:</p>
		<ul>
			<li>{{episode_number}} Episoden</li>
			<li>{{total_time}} Material</li>
			<li>{{word_count}} unterschiedliche Worte</li>
			<li>{{speaker_number}} Sprecher*innen</li>
			<li>Davon sind {{female_speaker}} Sprechende weiblich und {{male_speaker}} männlich</li>
		</ul>
	</div>

	<div>
		<h2>Infos zu den Sprechenden</h2>
		<p>Von den insgesamt {{speaker_number}} Sprechenden sind {{female_speaker}} weiblich und {{male_speaker}}. Zusammen sprechen Sie eine Gesamtzeit von {{spoken_time}}. {{spoken_time_male}} wird dabei von männlichen Personen und {{spken_time_female}} von weiblichen Personen gesprochen.</p>
		<p>Den Größten Redeanteil hat dabei {{longest_speaker_name}} mit {{longest_speaker_time}}.</p>
		<p>{{shortest_speaker_name}} kommt mit {{shortest_speaker_time}} am wenigsten zu Wort.</p>
	</div>

	<div class="">
		<h3>Häufige Wörter</h3>
		<p>Das häufigste Wort ist "ich" und kommt insgesamt 1464 Mal vor.</p>
		<p>Unter den korriosesten Wörtern zählen: "Arschgeige"(1), "Sackhaare"(1), "Digga/Digger"(5),"Pinienkernen", "Pissbogen"(1), "Hausfrau"(2)</p>
		
		<div class="">
			<h3 class="">Die 10 häufigsten Nomen</h3>
			<table class="full">
				<tr>
					<th>Wort</th>
				    <th>Häufigkeit</th>
				</tr>
				<tr>
				    <td>Fall</td>
				    <td>113</td>
				</tr>
				<tr>
				    <td>Rekruten</td>
				    <td>94</td>
				</tr>
				<tr>
				    <td>Leute</td>
				    <td>89</td>
				</tr>
				<tr>
				    <td>Waffe</td>
				    <td>78</td>
				</tr>
				<tr>
				    <td>Kameraden</td>
				    <td>75</td>
				</tr>
				<tr>
				    <td>Tag</td>
				    <td>72</td>
				</tr>
				<tr>
				    <td>Sachen</td>
				    <td>56</td>
				</tr>
				<tr>
				    <td>Zeit</td>
				    <td>54</td>
				</tr>
				<tr>
				    <td>Spaß</td>
				    <td>49</td>
				</tr>
				<tr>
				    <td>Gruppe</td>
				    <td>48</td>
				</tr>
			</table>
		</div>
	</div>
</section>

{% endblock %}