{% extends "base.html" %}

{% block content %}
	<div class="form-floating mb-3" style="text-align: left">
		<h2>Daten-Einblick</h2>
		<p>Ingesamte <span class="highlight">6538 unterschiedliche Worte</span> sind in über <span class="highlight">64 Episoden</span> gefallen.</p>
	</div>

	<div class="d-lg-flex">
		<div class="d-lg-flex">
			<h3>Die 10 häufigsten Wört</h3>
				<table class="table table-bordered">
				  <tr>
				    <th>Wort</th>
				    <th>Häufigkeit</th>
				  </tr>
				  <tr>
				    <td>ich</td>
				    <td>1464</td>
				  </tr>
				  <tr>
				    <td>die</td>
				    <td>1370</td>
				  </tr>
				  <tr>
				    <td>das</td>
				    <td>1291</td>
				  </tr>
				  <tr>
				    <td>und</td>
				    <td>1287</td>
				  </tr>
				  <tr>
				    <td>ist</td>
				    <td>932</td>
				  </tr>
				  <tr>
				    <td>wir</td>
				    <td>897</td>
				  </tr>
				  <tr>
				    <td>sie</td>
				    <td>842</td>
				  </tr>
				  <tr>
				    <td>jetzt</td>
				    <td>759</td>
				  </tr>
				  <tr>
				    <td>der</td>
				    <td>720</td>
				  </tr>
				  <tr>
				    <td>so</td>
				    <td>695</td>
				  </tr>
				</table>
		</div>
		<div>
			<h3>Die 10 häufigsten Nomen</h3>
			<table class="table table-bordered">
				<tr>
					<th>Wort</th>
				    <th>Häufigkeit</th>
				</tr>
				<tr>
				    <td>Fall</td>
				    <td>113</td>
				</tr>
				<tr>
				    <td>Rekruten</td>
				    <td>94</td>
				</tr>
				<tr>
				    <td>Leute</td>
				    <td>89</td>
				</tr>
				<tr>
				    <td>Waffe</td>
				    <td>78</td>
				</tr>
				<tr>
				    <td>Kameraden</td>
				    <td>75</td>
				</tr>
				<tr>
				    <td>Tag</td>
				    <td>72</td>
				</tr>
				<tr>
				    <td>Sachen</td>
				    <td>56</td>
				</tr>
				<tr>
				    <td>Zeit</td>
				    <td>54</td>
				</tr>
				<tr>
				    <td>Spaß</td>
				    <td>49</td>
				</tr>
				<tr>
				    <td>Gruppe</td>
				    <td>48</td>
				</tr>
			</table>
		</div>
		<div>
			<h3>Die 10 häufigsten Verben</h3>
			<table class="table table-bordered">
				<tr>
					<th>Wort</th>
				    <th>Häufigkeit</th>
				</tr>
				<tr>
				    <td>ist</td>
				    <td>932</td>
				</tr>
				<tr>
				    <td>haben</td>
				    <td>438</td>
				</tr>
				<tr>
				    <td>sind</td>
				    <td>270</td>
				</tr>
				<tr>
				    <td>habe</td>
				    <td>236</td>
				</tr>
				<tr>
				    <td>hat</td>
				    <td>230</td>
				</tr>
				<tr>
				    <td>werden</td>
				    <td>228</td>
				</tr>
				<tr>
				    <td>machen</td>
				    <td>206</td>
				</tr>
				<tr>
				    <td>muss</td>
				    <td>188</td>
				</tr>
				<tr>
				    <td>wird</td>
				    <td>178</td>
				</tr>
				<tr>
				    <td>kann</td>
				    <td>164</td>
				</tr>
			</table>
		</div>
	</div>

{% endblock %}