{% extends "base.html" %}

{% block content %}
	<div class="form-floating mb-3" style="text-align: left">
		<h2>Idee</h2>
		<p>Mit der Webserie "Die Rekruten" wirbt die deutsche Bundeswehr seit November 2016 auf YouTube nach neuen und vor allem jungen Wehrdienst-Interessierten. Für diesen Zweck setzt man auf Jumpcuts, kecke Sprüche und Jugendsprache. Die als Abenteuer dargestellte Grundausbildung ist auch durch ihre Sprachauswahl spannend. Probiere es selbst und prüfe wie oft Wörter und Themen die du mit der Bundeswehr verbindest in der Webserie genannt werden.
		</p>
	</div>

	<h2 class="container py-3"> Wortsuche</h2>
	<div class="row justify-content-md-center">
		<div class="col col-md-6">
			<form action="/search/" method="GET">
				<div class="form-floating mb-3">
					<input name="q" type="text" placeholder="Krieg" class="form-control" id="floatingInput" />
					<label for="floatingInput">Nach welchem Wort möchtest du suchen?</label>
				</div>
				<button class="btn btn-light" type="submit" style="background-color: #F1D6AB">Suchen</button>
			</form>
		</div>
	</div>

	<div class="form-floating mb-3" style="text-align: left">
		<h2>Das Ergebnis lesen</h2>
		<p>Bei der Suche handelt es sich um eine Teilwortsuche, ohne die Berücksichtigung von Groß- und Kleinbuchstaben. Dies bedeutet, dass alle Textabschnitte zurück gegeben werden, welche die eingegebene Buchstabenfolge in der angegeben Reihenfolge beinhalten. 
		<p style="font-style: italic;">Beispiel:
		Wird nach "Krieg" gesucht, werden auch alle Ergebnisse die "kriege", oder "gekriegt" beinhalten ausgegeben. Nicht aber "Askrie gehört diese Flasche.", da hier die Zeichenfolge durch ein Leerzeichen unterbrochen ist.
		</p>
		Um die einzelnen Wörter in Kontext setzen zu können, werden Abschnitte, in welchem die gesuchte Zeichenfolge vorkommt, zurück gegeben.
		Zur Berechnung der angezeigten Ergebnissumme wird die Anzahl der gefundenen Abschnitte addiert. Es kann also sein, dass das gesuchte Wort im gegebenen Abschnitt mehrmals vorkommt und damit die korrekte Anzahl höher als das angezeigte Ergebnis ist.</p>
	</div>

	<div class="form-floating mb-3" style="text-align: left">
		Dich interresiert ein Einblick in die Daten? Dann findest du einen genaueren Einblick in der <a href="/data" style="color: #A0855B;">Datenübersicht</a>.
		
	</div>

{% endblock %}