body {
	font-family: Mulish, sans-serif;
	background-color: #F9F6F2;
	text-align: center;
}

	a.link {
		background: none;
		border: none;
		font-weight: bold;
		color: white;
		font-size: xx-large;
		text-decoration: none;
			}

.hightlight {
	color: #A0855B;;
	font-weight: bold;
}